:root { 
	--light-color: #39435e; 
	--dark-color: #212736; 
	--second-color: #009cab;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.footer {
	margin-top: auto;
	height: 50px;
	background: var(--dark-color);
	color: #fff;
	padding: 10px;
}

.header {
	display: flex;
	background: var(--dark-color);
	color: #fff;
	padding: 10px;
	font-size: 32px;
	flex-wrap: wrap;
}

.header a {
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	margin: 20px;
	white-space: nowrap
}

.home {
	
}

.navbar {
	margin: auto;
}

.navbar a:hover {
	background: var(--light-color);
}

.homePage {
	text-align: center;
	margin: 30px;
}

.homePage a {
	margin: 30px;
	display: inline-block;
}

.title {
	font-size: 32px;
	font-weight: 900;
}

.formPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px;
}

.form {
	padding: 10px;
	width: 50%;
}

.form form {
	display: flex;
	flex-direction: column;
}

.formGroup {
	width: 100%;
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.formGroup input {
	padding: .375rem .75rem;
	margin: 10px 0;
    line-height: 2;
    font-weight: 400;
}

.btn {
	background: var(--dark-color);
	padding: 10px 30px !important;
	color: #fff;
	border-radius: .25rem;
	cursor: pointer;
    border: 1px solid transparent;
}

.btn:hover {
	background: var(--light-color);
}

@media ( max-width : 600px) {
	.form {
		width: 100%;
	}
}